{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{!-- <header class="header">
		<button class="button">
			<img width="24px" height="24px" src="/svg/header__back.svg">
		</button>
		<button class="button">
			<img width="24px" height="24px" src="/img/header__avatar.png">
		</button>
	</header>

	<h1 class="title">Ком'юніті</h1>

	<div class="info__tabs">
		<div class="info__tab">База знань</div>
		<div class="info__tab info__tab--active">Інформація</div>
	</div>

	<img src="img/info__banner.png" alt="info__banner">

	<div class="post__header">Що таке база знань?</div>
	<p class="post__info">База знань — це база даних, яка містить правила виведення та інформацію про людський досвід
		та знання в певній предметній області. У самонавчальних системах база знань також містить інформацію, яка є
		результатом вирішення попередніх завдань.</p>
	<div class="button">
		<img src="img/info__button.png" alt="info__button">
	</div>

	<div class="bottom__line">
		<img src="img/info__bottom_line.png" alt="info__bottom_line">
	</div> --}}

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}